* {list-style: none;
}
.question {
    width: 300px;
    position: fixed;
   bottom: 20px;
   right: 40px;
   height: 19px;
   border: 2px solid rgb(255, 255, 255);
   padding: 10px;
   font-size: 10pt;
   font-family: Arial, sans-serif;
   border-radius: 50px;
   box-shadow: rgb(136, 136, 136) 0 0 10px;
   color: rgb(138, 138, 138);
}
.question.active{
    visibility: hidden;
}
.question.active2{
  visibility: visible;
}
input[type="text"]::-moz-placeholder {
  font-size: 10pt;
  font-family: sans-serif;
 }
.question2{
    visibility: hidden;
    width: 300px;
    font-family: sans-serif;
    font-size: 10pt;
    position: fixed;
   bottom: 20px;
   right: 40px;
   border: 2px solid rgb(255, 255, 255);
   padding: 10px;
   border-radius: 50px;
   box-shadow: rgb(136, 136, 136) 0 0 10px;
   color: rgb(138, 138, 138);
}
.question2 input{
    outline: none;
border: none;
border: solid 1px #ffffff;
}
.question2.active1{
    visibility: visible;
}
.question2.active3{
  visibility: hidden;
}
.chat {
    position: fixed;
    bottom: 20px;
   right: 40px;
   
}
.chat .nav {
    width: 300px;
    border-radius: 25px;
    height: 500px;
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: rgb(136, 136, 136) 0 0 10px;
    display: none;
   
    
    
  }
  
  
  
  .chat .nav ul li a {
    
    background-color: rgb(255, 255, 255);
    color: #fff;
    
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
    font-weight:bold;
  }
  
  .chat .nav ul li a:hover {
    background: rgb(255, 255, 255);
  }
  .cross img{
   position: absolute;
   top: 10px;
   right: 11px;
    float: right;
    width: 15px;
    height: 15px;
    display: inline;
  }
  .settings img{
    position: absolute;
    top: 8px;
    right: 35px;
     float: right;
     width: 17.5px;
     height: 17.5px;
     display: inline;
   }
  
  .help{
    width: 285px;
    left: 0px;
    
    display: inline;
    border: 0px solid rgb(255, 255, 255);
    position: absolute;
    color: white;
    box-shadow: -2px 2px 10px -7px  rgb(136, 136, 136);
    top: 0px;
    padding-top: 10px;
    padding-bottom: 7.5px;
    padding-left: 40px;
    font-family: monospace;
    font-size: 12pt;
    background-color: rgb(0, 40, 85);
    font-weight: bold;
  }
  .logo1{
    left: 7px;
    
    display: inline;
    
    position: absolute;
    
    
    top: 7px;
    
    
    font-size: 12pt;
   
    font-weight: bold;
  }
  .logo1 img{
    width: 25px;
    
  }
  .msgs p{
     padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 100;
    top: 15px;
    position: relative;
    color: white;
    text-align: left;
    width: 250px;
    left: -50px;
    font-size: 12pt;
    font-family: sans-serif;
    font-variant: normal;
    
    border: 1px solid rgb(255, 255, 255);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 15px;
    -webkit-box-shadow: 2px 2px 4px #888;
    -moz-box-shadow: 2px 2px 4px #888;
    box-shadow: 2px 2px 4px #888;
  }
  p.msg1{
    background-color: rgb(0, 48, 135);
  }
  
  p.msg1 img{
    
    width: 30px;
    position: absolute;
    left: -35px;
  }
  p.msg2
  {
    height: 15px;
    width: 100px;
    float: right;
   top: -10px;
   left: 0px;
   
    background-color: rgb(98, 181, 229);
  }
  .msg2.active4{
    visibility: visible;
}
.msg2.active5{
  visibility: visible;
}
.question2 button{
  background-color: white;
}
  .butt1{
    background-color: white;
    float: right;
  }
#msg1{
  top: 45px;
  visibility: hidden;
}
#msg1.active7{
  visibility: visible;
}


